# ignore all these

*.*
.settings/
.DS_Store

# except these

!.gitignore
!README.*
!LICENSE.*

!hxDaedalus-Flambe-Examples/01-Basics/build/web/*.*
!hxDaedalus-Flambe-Examples/01-Basics/build/web/targets/*.*
!hxDaedalus-Flambe-Examples/01-Basics/build/web/assets/*.*

!hxDaedalus-Flambe-Examples/02-FromBitmap/build/web/*.*
!hxDaedalus-Flambe-Examples/02-FromBitmap/build/web/targets/*.*
!hxDaedalus-Flambe-Examples/02-FromBitmap/build/web/assets/*.*
!hxDaedalus-Flambe-Examples/02-FromBitmap/build/web/assets/images/*.*

!hxDaedalus-Flambe-Examples/03-Pathfinding/build/web/*.*
!hxDaedalus-Flambe-Examples/03-Pathfinding/build/web/targets/*.*
!hxDaedalus-Flambe-Examples/03-Pathfinding/build/web/assets/*.*

!hxDaedalus-Flambe-Examples/04-BitmapPathfinding/build/web/*.*
!hxDaedalus-Flambe-Examples/04-BitmapPathfinding/build/web/targets/*.*
!hxDaedalus-Flambe-Examples/04-BitmapPathfinding/build/web/assets/*.*

!hxDaedalus-Flambe-Examples/05-GridMaze/build/web/*.*
!hxDaedalus-Flambe-Examples/05-GridMaze/build/web/targets/*.*
!hxDaedalus-Flambe-Examples/05-GridMaze/build/web/assets/*.*

!hxDaedalus-Flambe-Examples/06-Multilayer/build/web/*.*
!hxDaedalus-Flambe-Examples/06-Multilayer/build/web/targets/*.*
!hxDaedalus-Flambe-Examples/02-FromBitmap/build/web/assets/*.*
!hxDaedalus-Flambe-Examples/02-FromBitmap/build/web/assets/images/*.*
